form {
    background-color: white;
    display: block;
    text-align: center; 
    font-style: arial;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;
    }
  
  body {
    background-color: #d1d98d;
    display: block;
    text-align: center; 
    font-family: arial;
  }
  
  h1 {
    font-size: 48px;
  }
  
  .body {
    font-family: arial;
  }
  
  